* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  background: rgb(15, 166, 177);
  padding: 0.5rem;
  z-index: 9999;
}

.left-navbar h1 a {
  font-size: 3.4rem;
  font-weight: bold;
  color: black;
}

.right-navbar ul {
  display: flex;
}

.right-navbar ul {
  list-style: none;
}

.right-navbar a {
  font-size: 2rem;
  color: red;
  margin: 1rem;
  transition: 0.3s;
}

.right-navbar a:hover {
  color: rgb(104, 23, 23);
}

/* #nav-spacing {
  height: 3.9rem;
} */

.intro-container {
  min-height: 100vh;
  width: 100%;
  background: rgb(49, 74, 102);
  /* background: linear-gradient(rgb(1, 183, 255), rgba(0, 255, 170, 0.562)); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  position: relative;
  max-width: 40rem;
  text-align: center;
  border: 4px solid black;
  border-radius: 1rem;
  padding: 2rem 2rem;
  margin: 2rem;
  background: rgba(255, 255, 255, 0.788);
  backdrop-filter: blur(5px);
  color: black;
}

.intro h1 {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: -1rem;
}

.intro p {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.8rem;
}

#pag-link {
  color: rgb(104, 23, 23);
}

@media (max-width: 250px) {
  .header {
    flex-direction: column;
  }
}
